tmp/
components/
managed_components/
build/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
releases/
tools/WpfModuloTool/bin/
tools/WpfModuloTool/.vs/
tools/WpfModuloTool/obj/
main/assets/lang_config.h
.DS_Store
shell/Dual-screen-ai-display-cnc v2.f3d
shell/Dual-screen-ai-display-cnc v2.png
