menu "Servo Dog Configuration"

    menu "Servo GPIO Configuration"
        config SERVO_FL_IO
            int "Front Left Servo IO"
            default 5
            help
            GPIO number used for Front Left Servo.

        config SERVO_FR_IO
            int "Front Right Servo IO"
            default 4
            help
            GPIO number used for Front Right Servo.

        config SERVO_BL_IO
            int "Back Left Servo IO"
            default 7
            help
            GPIO number used for Back Left Servo.

        config SERVO_BR_IO
            int "Back Right Servo IO"
            default 6
            help
            GPIO number used for Back Right Servo.
    endmenu

    menu "Servo Neutral Angle Configuration"
        config FL_ANGLE_NEUTRAL
            int "Front Left Servo Neutral Angle"
            default 70
            help
            Neutral angle value for the Front Left Servo.

        config FR_ANGLE_NEUTRAL
            int "Front Right Servo Neutral Angle"
            default 120
            help
            Neutral angle value for the Front Right Servo.

        config BL_ANGLE_NEUTRAL
            int "Back Left Servo Neutral Angle"
            default 110
            help
            Neutral angle value for the Back Left Servo.

        config BR_ANGLE_NEUTRAL
            int "Back Right Servo Neutral Angle"
            default 60
            help
            Neutral angle value for the Back Right Servo.
    endmenu

endmenu