menu "Xiaozhi Assistant"

config OTA_VERSION_URL
    string "OTA Version URL"
    default "https://api.tenclass.net/xiaozhi/ota/"
    help
        The application will access this URL to check for updates.

choice CONNECTION_TYPE
    prompt "Connection Type"
    default CONNECTION_TYPE_MQTT_UDP
    help
        网络数据传输协议
    config CONNECTION_TYPE_MQTT_UDP
        bool "MQTT + UDP"
    config CONNECTION_TYPE_WEBSOCKET
        bool "Websocket"
endchoice

config WEBSOCKET_URL
    depends on CONNECTION_TYPE_WEBSOCKET
    string "Websocket URL"
    default "wss://api.tenclass.net/xiaozhi/v1/"
    help
        Communication with the server through websocket after wake up.

config WEBSOCKET_ACCESS_TOKEN
    depends on CONNECTION_TYPE_WEBSOCKET
    string "Websocket Access Token"
    default "test-token"
    help
        Access token for websocket communication.

choice BOARD_TYPE
    prompt "Board Type"
    default BOARD_TYPE_BREAD_COMPACT_WIFI
    help
        Board type. 开发板类型
    config BOARD_TYPE_BREAD_COMPACT_WIFI
        bool "面包板新版接线（WiFi）"
    config BOARD_TYPE_BREAD_COMPACT_ML307
        bool "面包板新版接线（ML307 AT）"
    config BOARD_TYPE_ESP_BOX_3
        bool "ESP BOX 3"
    config BOARD_TYPE_KEVIN_BOX_1
        bool "Kevin Box 1"
    config BOARD_TYPE_KEVIN_BOX_2
        bool "Kevin Box 2"
    config BOARD_TYPE_LICHUANG_DEV
        bool "立创开发板"
endchoice

if BOARD_TYPE_LICHUANG_DEV
choice BOOT_BUTTON_FUNCTION
    prompt "boot按键功能"
    default BOOT_BUTTON_FUNCTION_AWAKEN
    help 
        boot按键功能
    config BOOT_BUTTON_FUNCTION_AWAKEN
        bool "唤醒"
    config BOOT_BUTTON_FUNCTION_RENET
        bool "配网"
endchoice
endif

if !BOARD_TYPE_BREAD_COMPACT_ML307
choice DISTRIBUTION_NETWORK_MODE
    prompt "配网方式"
    default DISTRIBUTION_NETWORK_MODE_SOFTAP
    help
        wifi配网方式
    config DISTRIBUTION_NETWORK_MODE_SOFTAP
        bool "SoftAP"
    config DISTRIBUTION_NETWORK_MODE_SMARTCONFIG
        bool "SmartConfig/AirKiss"
endchoice
endif

config USE_AFE_SR
    bool "Use Espressif AFE SR"
    default y
    help
        Use AFE SR for wake word detection.

endmenu
