menuconfig CAMERA_SC202CS
    bool "SC202CS"
    default n
    help
        Enabling this option will add the support for SC202CS.

if CAMERA_SC202CS
    menuconfig CAMERA_SC202CS_AUTO_DETECT
        bool "Auto detect SC202CS"
        default y
        help
            When enabled, it provides the ability in application layer to automatically
            detect camera sensors one by one.

    if CAMERA_SC202CS_AUTO_DETECT
        config CAMERA_SC202CS_AUTO_DETECT_MIPI_INTERFACE_SENSOR
            bool "Detect for MIPI interface sensor"
            default y
            help
                When enabled, you don't need to call sc202cs_detect manaually, SC202CS will
                be automatically detected and connected to the MIPI CSI interface when
                the application starts.
    endif

    choice CAMERA_SC202CS_MIPI_DEFAULT_FMT
        prompt "Default format select"
        default CAMERA_SC202CS_MIPI_RAW8_1280x720_30FPS
        help
            Select the default format to load when the sensor is detected.
            When the sensor is in stream off state, the format can be changed.
    
        config CAMERA_SC202CS_MIPI_RAW8_1280x720_30FPS
            bool "RAW8 1280x720 30fps, MIPI 1lane 24M input"
        config CAMERA_SC202CS_MIPI_RAW8_1600x1200_30FPS
            bool "RAW8 1600x1200 30fps, MIPI 1lane 24M input"
        config CAMERA_SC202CS_MIPI_RAW10_1600x1200_30FPS
            bool "RAW10 1600x1200 30fps, MIPI 1lane 24M input"
        config CAMERA_SC202CS_MIPI_RAW10_1600x900_30FPS
            bool "RAW10 1600x900 30fps, MIPI 1lane 24M input"
    endchoice # CAMERA_SC202CS_MIPI_DEFAULT_FMT

    config CAMERA_SC202CS_MIPI_IF_FORMAT_INDEX_DAFAULT
        int
        default 0 if CAMERA_SC202CS_MIPI_RAW8_1280x720_30FPS
        default 1 if CAMERA_SC202CS_MIPI_RAW8_1600x1200_30FPS
        default 2 if CAMERA_SC202CS_MIPI_RAW10_1600x1200_30FPS
        default 3 if CAMERA_SC202CS_MIPI_RAW10_1600x900_30FPS
        help
            Set the configuration loaded by default for the MIPI interface.
            More information can be obtained by calling the query_support_formats().
    
    config CAMERA_SC202CS_ABSOLUTE_GAIN_LIMIT
        int "Maximum absolute gain limit"
        default 63008
        range 4000 63008
        help
            Use this value to limit the maximum gain that upper level applications can use.
            To avoid using float type, the size of this value is gain x 1000.
            Excessive gain can lead to a worse signal-to-noise ratio and may cause the device to overheat, affecting its functionality. 

    choice CAMERA_SC202CS_ABS_GAIN_MAP_PRIORITY
        prompt "Gain map select"
        default CAMERA_SC202CS_DIG_GAIN_PRIORITY
        help
            The map of gains affects the size of the noise and the smoothness of the brightness change.
            Compared with digital gain, analog gain has less noise.
            Choose the appropriate gain map to balance the smoothness of the noise and brightness change.
    
        config CAMERA_SC202CS_ANA_GAIN_PRIORITY
            bool "Analog Gain Priority"
        config CAMERA_SC202CS_DIG_GAIN_PRIORITY
            bool "Digital Gain Priority"
    endchoice # CAMERA_SC202CS_ABS_GAIN_MAP_PRIORITY
endif
