menu "Example Configuration"

    choice EXAMPLE_CAM_SENSOR_INTERFACE
        prompt "Camera sensor interface"
        default EXAMPLE_CAM_SENSOR_MIPI_CSI
        help
            Select camera sensor interface based on development board.

        config EXAMPLE_CAM_SENSOR_MIPI_CSI
            bool "MIPI-CSI"
            depends on ESP_VIDEO_ENABLE_MIPI_CSI_VIDEO_DEVICE

        config EXAMPLE_CAM_SENSOR_DVP
            bool "DVP"
            depends on ESP_VIDEO_ENABLE_DVP_VIDEO_DEVICE
    endchoice

    if EXAMPLE_CAM_SENSOR_MIPI_CSI
        config EXAMPLE_MIPI_CSI_SCCB_I2C_PORT
            int "MIPI CSI SCCB I2C Port Number"
            default 0
            range 0 1

        config EXAMPLE_MIPI_CSI_SCCB_I2C_SCL_PIN
            int "MIPI CSI SCCB I2C SCL Pin"
            default 34
            range -1 56

        config EXAMPLE_MIPI_CSI_SCCB_I2C_SDA_PIN
            int "MIPI CSI SCCB I2C SDA Pin"
            default 31
            range -1 56

        config EXAMPLE_MIPI_CSI_SCCB_I2C_FREQ
            int "MIPI CSI SCCB I2C Frequency"
            default 100000
            range 100000 400000
            help
                Increasing this value can reduce the initialization time of the camera sensor.
                Please refer to the relevant instructions of the camera sensor to adjust the value.

        config EXAMPLE_MIPI_CSI_CAM_SENSOR_RESET_PIN
            int "MIPI CSI Camera Sensor Reset Pin"
            default -1
            range -1 56

        config EXAMPLE_MIPI_CSI_CAM_SENSOR_PWDN_PIN
            int "MIPI CSI Camera Sensor Power Down Pin"
            default -1
            range -1 56
    endif

    if EXAMPLE_CAM_SENSOR_DVP
        config EXAMPLE_DVP_SCCB_I2C_PORT
            int "DVP SCCB I2C Port Number"
            default 1
            range 0 1

        config EXAMPLE_DVP_SCCB_I2C_SCL_PIN
            int "DVP SCCB I2C SCL Pin"
            default 33
            range -1 56

        config EXAMPLE_DVP_SCCB_I2C_SDA_PIN
            int "DVP SCCB I2C SDA Pin"
            default 32
            range -1 56

        config EXAMPLE_DVP_SCCB_I2C_FREQ
            int "DVP SCCB I2C Frequency"
            default 100000
            range 100000 400000
            help
                Increasing this value can reduce the initialization time of the camera sensor.
                Please refer to the relevant instructions of the camera sensor to adjust the value.

        config EXAMPLE_DVP_CAM_SENSOR_RESET_PIN
            int "DVP Camera Sensor Reset Pin"
            default -1
            range -1 56

        config EXAMPLE_DVP_CAM_SENSOR_PWDN_PIN
            int "DVP Camera Sensor Power Down Pin"
            default -1
            range -1 56

        config EXAMPLE_DVP_XCLK_FREQ
            int "DVP XCLK Frequency"
            default 20000000

        config EXAMPLE_DVP_XCLK_PIN
            int "DVP XCLK Pin"
            range 0 56
            default 20

        config EXAMPLE_DVP_PCLK_PIN
            int "DVP PCLK Pin"
            range 0 56
            default 21

        config EXAMPLE_DVP_VSYNC_PIN
            int "DVP VSYNC Pin"
            range 0 56
            default 23

        config EXAMPLE_DVP_DE_PIN
            int "DVP DE Pin"
            range 0 56
            default 22

        config EXAMPLE_DVP_D0_PIN
            int "DVP D0 Pin"
            range 0 56
            default 53

        config EXAMPLE_DVP_D1_PIN
            int "DVP D1 Pin"
            range 0 56
            default 54

        config EXAMPLE_DVP_D2_PIN
            int "DVP D2 Pin"
            range 0 56
            default 52

        config EXAMPLE_DVP_D3_PIN
            int "DVP D3 Pin"
            range 0 56
            default 1

        config EXAMPLE_DVP_D4_PIN
            int "DVP D4 Pin"
            range 0 56
            default 0

        config EXAMPLE_DVP_D5_PIN
            int "DVP D5 Pin"
            range 0 56
            default 45

        config EXAMPLE_DVP_D6_PIN
            int "DVP D6 Pin"
            range 0 56
            default 46

        config EXAMPLE_DVP_D7_PIN
            int "DVP D7 Pin"
            range 0 56
            default 47
    endif

    if FORMAT_MJPEG_CAM1
        config EXAMPLE_JPEG_COMPRESSION_QUALITY
            int "JPEG Compression Quality"
            default 80
            range 1 100
            help
                JPEG compression quality, higher value means higher output
                image quality.
    endif

    if FORMAT_H264_CAM1
        config EXAMPLE_H264_I_PERIOD
            int "H.264 Intra Frame period"
            default 120
            range 1 120
            help
                H.264 I-Frame period.
        
        config EXAMPLE_H264_BITRATE
            int "H.264 Bitrate"
            default 1000000
            range 25000 2500000
            help
                H.264 bitrate.
        
        config EXAMPLE_H264_MIN_QP
            int "H.264 Minimum Quality"
            default 25
            range 1 51
            help
                H.264 minimum quality, the value should be less than H.264 maximum quality.

        config EXAMPLE_H264_MAX_QP
            int "H.264 Maximum Quality"
            default 26
            range 1 51
            help
                H.264 maximum quality, the value should be larger than H.264 minimum quality.
    endif
endmenu
