menuconfig CAMERA_BF3925
    bool "BF3925"
    default n
    help
        Enabling this option will add the support for BF3925.

if CAMERA_BF3925
    menuconfig CAMERA_BF3925_AUTO_DETECT
        bool "Auto detect BF3925"
        default y
        help
            When enabled, it provides the ability in application layer to automatically
            detect camera sensors one by one.

    if CAMERA_BF3925_AUTO_DETECT
        config CAMERA_BF3925_AUTO_DETECT_DVP_INTERFACE_SENSOR
            bool "Detect for DVP interface sensor"
            default y
            help
                When enabled, you don't need to call bf3925_detect manaually, BF3925 will
                be automatically detected and connected to the DVP interface when the
                application starts.
    endif

    choice CAMERA_BF3925_DVP_DEFAULT_FMT
        prompt "Default format select"
        default CAMERA_BF3925_DVP_YUV422_1600x1200_9FPS
        help
            Select the default format to load when the sensor is detected.
            When the sensor is in stream off state, the format can be changed.
    
        config CAMERA_BF3925_DVP_YUV422_1600x1200_9FPS
            bool "YUV422 1600x1200 9fps, DVP 8bit 20M input"
    endchoice # CAMERA_BF3925_DVP_DEFAULT_FMT

    config CAMERA_BF3925_DVP_IF_FORMAT_INDEX_DAFAULT
        int
        default 0 if CAMERA_BF3925_DVP_YUV422_1600x1200_9FPS
        help
            Set the configuration loaded by default for the DVP interface.
            More information can be obtained by calling the query_support_formats().
endif
