CONFIG_CAMERA_GC0308=y
CONFIG_CAMERA_OV2640=y
CONFIG_CAMERA_OV2710=y
CONFIG_CAMERA_OV5645=y
CONFIG_CAMERA_OV5647=y
CONFIG_CAMERA_SC030IOT=y
CONFIG_CAMERA_SC101IOT=y
CONFIG_CAMERA_SC202CS=y
CONFIG_CAMERA_SC2336=y
CONFIG_CAMERA_SC035HGS=y
CONFIG_CAMERA_GC2145=y
CONFIG_CAMERA_BF3925=y